body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Style the header */
.header {
  padding: 80px;
  text-align: center;
  background: #2F4F4F;
  color: white;
}

/* Increase the font size of the h1 element */
.header h1 {
  font-size: 50px;
}
